<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AdvertisingPageTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F85E6EBF1F0A22EF00886612</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F85E6ED81F0A22F300886612</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F85E6EE31F0A22F400886612</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
